<app-home></app-home>
<div class="con">
  <h3
    Style="display:flex; justify-content: center;
color: rgb(15, 15, 15);"
  >
    Welcome to Event Management App !!
  </h3>
  <div class="container">
    <img
      style="
        width: 100%;
        height: 500px;

        background-image: url('https://media.istockphoto.com/vectors/vector-illustration-icon-with-the-employee-management-system-concept-vector-id1084494738?k=20&m=1084494738&s=170667a&w=0&h=RXqjXE5bvKZXkL7uHxfafaV8oxbCfNGcw-xP_5GupiI=');
        background-position: center;
        background-repeat: no-repeat;
        display: inline-block;
      "
    />
  </div>
</div>
