<!-- <div class="container" style="padding: 10px; align-self: center">
  <div
    class="jumbotron"
    style="
      background-image: url(hkm.jpg);
      margin-top: 30px;
      padding: 150px;
      image-resolution: inherit;
    "
  >
    <h1 style="color: aliceblue; margin-top: 30px; text-align: right">
      Hello There!
    </h1>
    <h2 style="color: aliceblue; text-align: right">Welcome to myPortFolio</h2>
    <p style="color: aliceblue; text-align: right">
      Easy way to create your amazing portfolio...
    </p>
  </div>
</div> -->

<div class="container" style="padding: 10px; align-self: center">
  <div
    class="jumbotron"
    style="
      background-image: url(s.jpg);
      margin-top: 30px;
      padding: 150px;
      image-resolution: from-image;
    "
  >
    <h1 style="color: aliceblue; margin-top: 30px; text-align: right">
      Hello All!
    </h1>
    <h2 style="color: aliceblue; text-align: right">
      This is Your Stephen King
    </h2>
    <p style="color: aliceblue; text-align: right">
      I am an American author of horror, supernatural fiction, suspense, crime,
      science-fiction, and fantasy novels. Described as the "King of Horror", a
      play on my surname and a reference to my high standing in pop culture, my
      books have sold more than 350 million copies, and many have been adapted
      into films, television series, miniseries, and comic books. I have
      published 64 novels, including seven under the pen name Richard Bachman,
      and five non-fiction books.I have also written approximately 200 short
      stories, most of which have been published in book collections.
    </p>
    <span
      class="btn btn-light"
      style="color: rgb(118, 15, 235); margin-top: 30px; text-align: center"
      >Instagram</span
    ><br />
    <span
      class="btn btn-light"
      style="color: rgb(118, 15, 235); margin-top: 30px; text-align: center"
      >Twitter</span
    >
  </div>
</div>
